<h2 mat-dialog-title>Авторизация</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input matInput placeholder="Username" name="username" formControlName="login">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error>
        async error
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
    
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutAlign="flex-end">
  <mat-spinner *ngIf="requestIsSending$ | async" diameter="30" color="warn"></mat-spinner>
  <button mat-button [mat-dialog-close]="false">Отмена</button>
  <button mat-raised-button color="primary" (click)="sendAuth()">
    Войти
  </button>
</mat-dialog-actions>
