<h2 mat-dialog-title>Авторизация</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input matInput placeholder="Username" name="username" formControlName="login">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </form>

  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutAlign="flex-end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Войти</button>
</mat-dialog-actions>
