<div class="table-content">
  
  <mat-progress-spinner *ngIf="isLoading$ | async"
                        color="primary" 
                        mode="indeterminate"
                        class="loading-table-spinner"    
  >
  </mat-progress-spinner>
  
  <div>
    <table mat-table [dataSource]="dataSource$" matSort (matSortChange)="onSortChange($event)">
      <ng-container matColumnDef="addButton">
        <th mat-header-cell *matHeaderCellDef class="add-button-column"> <button mat-icon-button matTooltip="Добавить" color="primary" aria-label="" (click)="addNew();">
          <mat-icon>add</mat-icon>
        </button></th>
        <td mat-cell *matCellDef="let element" class="add-button-column"> </td>
      </ng-container>
      <ng-container *ngFor="let column of model.columns" matColumnDef="{{column.id}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.canOrder">{{column.name}}</th>
        <td mat-cell *matCellDef="let element"> {{element[column.id]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" (click)="selectRow(row);"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons [pageSize]="pageSize" [length]="totalLength$ | async" (page)="onPaginateChange($event)">></mat-paginator>
  
  </div>
 
</div>
