
table {
  width: 100%;
}

.loading-table-spinner {
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.table-content {
  position: relative;
}

tr.element-row:hover {
  background: rgb(247, 247, 247);
  cursor:pointer;
}

.control-panel-column {
	width: 45px;
	padding-left: 0 !important;
}
