h2{
  margin:0 0 0 0;  
}
.entity-title {
  margin: auto;
}

.manage-controls{
  margin: 20px 0 0 0;
}

.manage-controls button{
  margin-left:30px;
}

.server-errors, .server-errors span{
  color: #f44336;
}
mat-list-item:first-child {
  padding: 0 !important;
}
