.filter-form{
  display:inline-block;
}
.filter-control {
  margin-left: 20px;
}

.remove-filter-button{
  margin-bottom:8px;
}

.operations-panel {
  margin-bottom: 10px;  
}

.filter-button {
  padding-left: 6px;
}

.refresh-button {
  margin-left:10px;
}

.filter-form-item:not(:last-child) {
  margin-bottom: 15px;
}

.filter-form-item:last-child{
  margin-bottom:20px;
}
