.filter-form{
  display:inline-block;
}
.filter-control {
  margin-left: 20px;
}

.operations-panel {
  margin-bottom: 10px;
}

.filter-button {
  padding-left: 6px;
}

.refresh-button {
  margin-left:10px;
}
