<form [formGroup]="filtersForm" class="filter-form">
  <div formArrayName="filters">
    <div div fxLayout="row" fxLayoutAlign="start center" *ngFor="let filter of filters.controls; let i=index">
      <button mat-icon-button color="warn" aria-label="" (click)="clearFilter(i)" matTooltip="Удалить условие">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-form-field class="filter-control">
        <mat-label>Оператор</mat-label>
        <mat-select>
          <mat-option *ngFor="let lop of logicalOperators" [value]="lop.key">
            {{lop.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-control">
        <mat-label>Поле</mat-label>
        <mat-select>
          <mat-option *ngFor="let column of columns" [value]="column.key">
            {{column.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-control">
        <mat-label>Сравнение</mat-label>
        <mat-select>
          <mat-option *ngFor="let cop of comparisonOperators" [value]="cop.key">
            {{cop.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-control">
        <input matInput [formControlName]="i" placeholder="Значение">
      </mat-form-field>
    </div>
    <div div fxLayout="row" fxLayoutAlign="space-between center" class="operations-panel">
      <div>
        <button class="filter-button" mat-stroked-button color="primary" aria-label="" (click)="addFilter()">
          <mat-icon>filter_list</mat-icon> Добавить фильтр
        </button>
      </div>
      <div>
        <button class="refresh-button" mat-stroked-button color="accent" aria-label="" (click)="startRefreshData()">
          <mat-icon>refresh</mat-icon> Обновить
        </button>
      </div>
    </div>
  </div>
</form>
