<body>
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/accounts'">
        <mat-icon class="nav-icon">input</mat-icon>
        <span class="nav-label"> Login</span>
        </a>
      <a mat-list-item [routerLink]="'/create-account'">
        <mat-icon class="nav-icon">home</mat-icon>
        <span class="nav-label"> Home</span>
      </a>
      <a mat-list-item [routerLink]="'/contacts'">
         <mat-icon class="nav-icon">dashboard</mat-icon>
        <span class="nav-label"> Dashboard</span>
      </a>
      <a mat-list-item [routerLink]="'/create-contact'">
        <mat-icon class="nav-icon">input</mat-icon>
        <span class="nav-label"> LogOut</span>
        </a>
      <a mat-list-item (click)="sidenav.toggle()">Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <span>
          Remboard App
        </span>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout class="navigation-items">
          <li>
            <button mat-button [routerLink]="'/home'"><mat-icon>input</mat-icon> Accounts</button>
          </li>
          <li>
            <button mat-button [routerLink]="'/home'"><mat-icon>mic</mat-icon> Accounts</button>
          </li>
          <li>
            <button mat-button [routerLink]="'/home'"><mat-icon>dashboard</mat-icon> Dashboard</button>
          </li>
          <li>
            <button mat-button [routerLink]="'/home'"><mat-icon>input</mat-icon> LogOut</button>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <div>
      <app-component-nav></app-component-nav>

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

  <!--<app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>-->
</body>
